

<mat-toolbar class="mainnav">
  <mat-toolbar-row>
    <button mat-icon-button  fxShow="true" fxHide.gt-sm>
      <mat-icon class="icon">menu</mat-icon>
    </button>
    <button mat-button class="menutext"><a href="#">MCAFEE</a></button>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>


      <button mat-button class="menutext"><a routerLink="/home">HOME</a></button>
      <button mat-button class="menutext"><a routerLink="/product">Product</a></button>
      <button mat-button class="menutext"><a routerLink="/cart">MY ORDER</a></button>
      <button mat-button class="menutext"><a routerLink="/about">About</a></button>
      <button mat-button class="menutext"><a href="#">CAR</a></button>
      <button mat-button class="menutext"><a href="#">LOGOUT</a></button>



    </div>
  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>


<router-outlet></router-outlet>
